*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.all {
  background-color: #e0fbfc;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #253237;
  height: 100px;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.nav-item {
  padding: 0.5rem;
  color: #e0fbfc;
}
.header-link {
  color: #e0fbfc;
  font-weight: 500;
  text-decoration: none;
}
.header-link:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  align-items: center;
  height: 700px;
  width: 100%;
  justify-content: center;
  padding: 3rem;
  background-color: #e0fbfc;
  align-items: center;
  color: #1b4965;
}
.main-2 {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  background-color: #e0fbfc;
  padding: 3rem;
}
.main-3 {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c2dfe3;
  color: #1b4965;
}
.main-5 {
  display: flex;
  height: 400px;
  justify-content: center;
  background-color: #c2dfe3;
  color: #1b4965;
  padding: 3rem;
}

.main-4 {
  display: flex;

  height: 700px;
  width: 100%;
  padding: 3rem;
  background-color: #e0fbfc;
  align-items: center;
  color: #1b4965;
}
.name {
  display: flex;
  flex-direction: column;

  font-size: 60rem;
}
.full-name {
  font-size: 4rem;
  color: #1b4965;
  font-family: "Montserrat", serif;
  -webkit-text-size-adjust: 100%;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin: 0.67em 0;
  margin-top: 0px;
  font-weight: 400;
  letter-spacing: -2.5px;
  line-height: 1.3em;
  margin-bottom: 27px;
}

.paragraf {
  text-align: center;
  color: #1b4965;
}
.profile-pic {
  margin-right: 50px;
  width: 90%;
  border-radius: 5px;
  max-width: 400px;
  transition: opacity(500ms ease 0s);
}
.profile-pic:hover {
  -moz-box-shadow: 0 0 10px #1b4965;
  -webkit-box-shadow: 0 0 10px #1b4965;
  box-shadow: 0 0 10px #1b4965;
}
.descr {
  font-family: "Montserrat", sans-serif;
  text-align: start;
  color: #1b4965;
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: -0.5px;
}
.first-col {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
}
.second-col {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.text-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  align-items: center;
  text-align: justify;
}

.section-text-container {
  width: 70%;
  text-align: justify;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.get-in-touch {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  color: #1b4965;
  margin-left: 2rem;
  margin-right: 2rem;
}
.about-me {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
}
.photo1 {
  width: 50%;
  height: 500px;
  border-radius: 5px;
  transition: 0.5s;
}
.photo2 {
  width: 650px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 2rem;
  object-fit: cover;
}
.photo2:hover {
  -moz-box-shadow: 0 0 50px #1b4965;
  -webkit-box-shadow: 0 0 50px #1b4965;
  box-shadow: 0 0 50px #1b4965;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #253237;
  color: #c2dfe3;
  padding: 1rem;
  display: flex;
}
.footer-content {
  text-align: center;
  padding-bottom: initial;
  margin-left: 2rem;
}

.section-heading {
  color: #1b4965;
  font-size: 1.5rem;
  font-weight: 500;
}
.section-heading-projects {
  color: #1b4965;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.logo {
  width: 100px;
}

.git {
  color: #c2dfe3;
  text-decoration: underline;
  padding-right: 1rem;
}
.git:hover {
  text-decoration: wavy;
}

.url {
  text-decoration: none;
  color: #1b4965;
}
.url:hover {
  text-decoration: underline;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  background: #1b4965;
  border: 1px solid #1b4965;
  color: #e0fbfc;
  padding: 0.7rem 0.9rem;
  border-radius: 8px;
  font-family: "Vollkorn", serif;
  font-size: 1rem;
  text-decoration: none;
}

.btn:hover {
  background: #c2dfe3;
  color: #1b4965;
  text-decoration: none;
}

.btn2 {
  background: #1b4965;
  border: 1px solid #1b4965;
  color: #e0fbfc;
  padding: 0.7rem 0.9rem;
  border-radius: 8px;
  font-family: "Vollkorn", serif;
  font-size: 1rem;
  text-decoration: none;
}
.btn2:hover {
  background: #e0fbfc;
  color: #1b4965;
  text-decoration: none;
}
.code-img {
  float: left;
  margin-right: 30px;
  width: 30%;
  border-radius: 50%;
}
.code {
  display: flex;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}
.selection-text2-container {
  display: flex;
  flex-direction: column;
}
.calendar {
  background-color: #1b4965;
  color: #c2dfe3;
  height: 241px;
}

.contrib-number {
  color: #c2dfe3 !important;
}
.icon {
  height: 56px;
  width: 56px;
  margin-right: 2rem;
}
.icons {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #c2dfe3;
  color: #1b4965;
}
@media only screen and (max-width: 480px) {
  .nav {
    max-height: 100px;
  }
  .nav-list {
    padding-left: 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .first-col {
    width: 100%;
  }

  .profile-pic {
    width: 300px;
    height: 300px;
    margin-right: 0px;
    margin-top: 1.5rem;
  }
  .second-col {
    width: 100%;
  }

  .full-name {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
  }
  .descr {
    text-align: center;
    margin-top: auto;
    font-size: 1.5rem;
  }
  .photo1 {
    display: none;
  }
  .section-heading {
    text-align: center;
  }

  .calendar {
    max-width: 100%;
    margin: 0.5rem;
  }
  svg {
    max-width: 100%;
  }
  .main-4 {
    padding: 1rem;
    height: auto;
  }
  .about-me {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .icons {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;
  }
  .icon {
    margin: 1rem;
  }
  .main-2 {
    margin-top: 1rem;
    padding: 0.5rem;
  }
  .photo2 {
    max-width: 100%;
  }
  .section-heading-projects {
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .main-5 {
    padding: 0px;
  }
  .get-in-touch {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    height: 70px;
    width: 70px;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .first-col {
    width: 100%;
  }

  .profile-pic {
    width: 300px;
    height: 300px;
    margin-right: 0px;
    margin-top: 1.5rem;
  }
  .second-col {
    width: 100%;
    display: block;
  }
  .full-name {
    font-size: 3.2rem;
    margin-top: 1rem;
    text-align: center;
  }
  .descr {
    text-align: center;
    margin-top: auto;
  }
  .calendar {
    max-width: 100%;
    margin: 0.5rem;
  }
  svg {
    max-width: 100%;
  }
  .main-4 {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }
  .photo1 {
    object-fit: cover;
    height: 250px;
    width: 300px;
  }
  .section-heading {
    text-align: center;
  }
  .icons {
    display: flex;
    flex-wrap: wrap;
  }
  .icon {
    margin-right: 3rem;
    margin-left: 2rem;
  }
}
